---
{%- set testing = testing is defined and testing.casefold() in ["1", "yes", "true"] %}
bundle: kubernetes
name: identity-platform
website: https://github.com/canonical/iam-bundle
issues: https://github.com/canonical/iam-bundle/issues
applications:
  hydra:
    charm: hydra
    revision: 270
    channel: {{ channel|default('edge', true) }}
    scale: 1
    series: jammy
    trust: true
  kratos:
    charm: kratos
    revision: 383
    channel: {{ channel|default('edge', true) }}
    scale: 1
    series: jammy
    trust: true
  kratos-external-idp-integrator:
    charm: kratos-external-idp-integrator
    channel: {{ channel|default('edge', true) }}
    revision: 182
    scale: 1
    series: jammy
  identity-platform-login-ui-operator:
    charm: identity-platform-login-ui-operator
    revision: 78
    channel: {{ channel|default('edge', true) }}
    scale: 1
    series: jammy
    trust: true
  postgresql-k8s:
    charm: postgresql-k8s
    channel: 14/stable
    series: jammy
    scale: 1
    trust: true
  self-signed-certificates:
    charm: self-signed-certificates
    revision: 52
    channel: latest/edge
    scale: 1
    {%- if testing %}
    options:
      ca-common-name: demo.ca.local
    {%- endif %}
  traefik-admin:
    charm: traefik-k8s
    revision: 164
    channel: 1.0/stable
    series: focal
    scale: 1
    trust: true
  traefik-public:
    charm: traefik-k8s
    revision: 164
    channel: 1.0/stable
    series: focal
    scale: 1
    trust: true
relations:
  - [hydra:pg-database, postgresql-k8s:database]
  - [kratos:pg-database, postgresql-k8s:database]
  - [kratos:hydra-endpoint-info, hydra:hydra-endpoint-info]
  - [kratos-external-idp-integrator:kratos-external-idp, kratos:kratos-external-idp]
  - [hydra:admin-ingress, traefik-admin:ingress]
  - [hydra:public-ingress, traefik-public:ingress]
  - [kratos:admin-ingress, traefik-admin:ingress]
  - [kratos:public-ingress, traefik-public:ingress]
  - [identity-platform-login-ui-operator:ingress, traefik-public:ingress]
  - [identity-platform-login-ui-operator:hydra-endpoint-info, hydra:hydra-endpoint-info]
  - [identity-platform-login-ui-operator:ui-endpoint-info, hydra:ui-endpoint-info]
  - [identity-platform-login-ui-operator:ui-endpoint-info, kratos:ui-endpoint-info]
  - [identity-platform-login-ui-operator:kratos-endpoint-info, kratos:kratos-endpoint-info]
  - [traefik-admin:certificates, self-signed-certificates:certificates]
  - [traefik-public:certificates, self-signed-certificates:certificates]
