-r requirements.txt
# TODO: remove when https://github.com/gtsystem/lightkube/issues/78 is fixed
httpx==0.27.2
jinja2
juju
lightkube
# TODO: Remove when pr https://github.com/go-macaroon-bakery/py-macaroon-bakery/pull/95 gets merged
macaroonbakery==1.3.4
pytest
pytest-operator==0.38.0
pytest-playwright
